@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.logo-nav{
    max-height: 5vh;
}
.container-fluid{
    max-width: 1400px;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    /* padding-bottom: 3rem; */
    color: #5a5a5a;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 3rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  .carousel-image-one{
    background-image: url(./img/IMAG0552.jpg);
    background-size: auto;
  }
  
  .page-title{
    padding: 50px;
  }

  .head-hero{
    background-color: #363245;
    color: white;
  }

  footer{
    background-color: #363245;
    color: white;
    padding: 15px;
  }

  footer a{
    color: white;
    text-decoration: none;
    margin-right:15px;    
  }
  footer a:hover{
    text-decoration: underline;
  }
  .footer-content{
    max-width: 1400px;
    margin: 0 auto;
    align-content: center;
  }

  .headsection{
    background-color: #363245;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10vh;

    box-shadow: inset 0 0 20px black;

}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  object-fit: cover;
  opacity: 0.5;
  

}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.transition-img{
  animation: image-transition linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 75vh;
}

@keyframes image-transition{
  from {padding-top: 200px; opacity: 0;}
  to {padding-top: 0px; opacity: 1;}
}

main {
  /* padding-bottom: 3rem; */
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 65px;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media(max-width: 600px){
  .footer-content{
    text-align: center;
  }
}

.placeholder-div{
  width: 100%;
  background-color: #363245;
  color:white;
  font-size: 26px;
  text-align: center;
  min-width: 30vw;
}
.navbar{
  animation: navSize linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 25px;
}

@keyframes navSize {
  from {
      padding-top: 5vh;
      padding-bottom: 5vh;

  }
  to {
    padding-top: 20vh;
    padding-bottom: 20vh;  }
}

.right-align-card{
  display: flex;
  margin: 25px 0px;
  flex: 0 50%;

}


.right-align-card .placeholder-div{
  margin-right: 10px;
  width: 50%;
}

.left-align-card{
  display: flex;
  margin: 25px 0px;
  flex: 0 50%;



}

.left-align-card .placeholder-div{
  margin-left: 10px;
  width: 50%;
}

@media(max-width: 800px){
  .right-align-card{
    flex-direction: column;
  }
  .left-align-card{
    flex-direction: column-reverse;
  }
  .right-align-card .placeholder-div{
    width: 100%;
  }
  .left-align-card .placeholder-div{
    width: 100%;
  }
}

.form-block{
  width: 100%;
  margin-right: 25px;
}

.btn-secondary{
  background-color: #48435c;
}
.btn-secondary:hover{
  background-color: #363245;
}

.icon-circle{
  background-color: #363245;
  border-radius: 100%;
  width: 140px;
  text-align: center;

}

.icon-img{
  width: 150px;
  padding: 10px;
  text-align: center;
}

.btn-red{
  border: none;
  background-color: #c63b3d;
}
.btn-red:hover{
  background-color: #a02325;
}

.nav-button{
  width: 200px;
  margin: 0px 15px;
}

@media(max-width: 990px){
  .nav-button{
    width: 100%;
    margin: 5px auto;
  }
}

.section-img{
  width: 100%;
  object-fit: cover;
}

.headsection h1{
  text-shadow: 1px 1px 10px black;
}